@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

// Reset styles in faq section
.ai-faq {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: #fff;
  width: 100%;
  color: #000;
  min-height: 100vh;
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
  button {
    cursor: pointer;
    &:disabled {
      cursor: not-allowed;
    }
  }
  .form-wrapper {
    background-color: #e8e8e8;
    width: fit-content;
    padding: 10px;
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    height: fit-content;
    .button-containers {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .mode-buttons-wrapper {
        p {
          font-weight: 700;
        }
        .mode-buttons {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 8px;
          height: 100%;
          .mode-button {
            background-color: #e8e8e8;
            border: 1px solid #8f8f8f;
            border-radius: 6px;
            display: block;
            padding: 10px;
            transition: 300ms;
            &.selected {
              background-color: #454545;
            }
          }
          .vertical-rule {
            height: 70%;
            width: 2px;
            border-radius: 4px;
            display: block;
            background-color: #989696;
          }
        }
      }
      .save-new-wrapper {
        display: flex;
        .button-wrapper {
          p {
            font-weight: 700;
            text-align: center;
          }
          .save-new {
            background-color: #e8e8e8;
            border: none;
            border-radius: 6px;
            display: block;
            padding: 10px;
            transition: 300ms;
            &:disabled {
              cursor: not-allowed;
            }
          }
        }
      }
    }
    .input-wrappers {
      margin-top: 20px;
      width: 100%;
      label {
        display: block;
        font-weight: 700;
        margin-bottom: 5px;
        margin-top: 20px;
      }
      .input-wrapper {
        position: relative;
        input,
        textarea {
          padding: 8px;
          width: 100%;
          font-size: 18px;
          line-height: 32px;
          border-radius: 6px;
          border: 1px solid #444444;
          background-color: #fff;
        }

        .robot {
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);

          height: 30px;
          width: 30px;
          background-color: #232323;
          border-radius: 999px;
          border: none;
          padding: 5px;
          svg {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  .faq-list-wrapper {
    width: 100%;
    h3 {
      text-transform: uppercase;
      max-width: 400px;
      color: #323232;
      margin-bottom: 10px;
    }
    .faq-list {
      display: flex;
      flex-direction: column;
      transition: 300ms;
      .faq-item {
        display: flex;
        gap: 5px;
        height: fit-content;
        .drop-down {
          width: 100%;
          background-color: #f7f7f7;
          padding: 10px;
          border-radius: 6px;
          border: 1px solid #454545;
          display: flex;
          align-items: center;
          transition: 300ms;
          gap: 5px;
          p {
            background: none;
            border: none;
            width: 100%;
            text-align: left;
            font-size: 16px;
            height: fit-content;
          }
          svg {
            transition: 300ms;
            width: 15px;
          }
          &.expanded {
            svg {
              transform: rotate(180deg);
            }
          }
        }
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 5px;
          background-color: #e7e7e7;
          border-radius: 6px;
          border: 1px solid #454545;
          min-width: 50px;
          svg {
            height: 30px;
            width: 30px;
          }
          &.close {
            svg {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
      .answer {
        margin-top: 10px;
      }
    }
  }
  .modal-holder {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
    .modal-container {
      border: 1px solid rgb(204, 204, 204);
      border-radius: 10px;
      padding: 30px 20px;
      h2 {
        font-size: 24px;
        font-weight: 700;
        letter-spacing: -1px;
        margin-bottom: 0px;
        line-height: 20px;
      }
      h3 {
        font-size: 18px;
        color: #444444;
      }
      .modal-buttons {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 10px;
        margin-top: 20px;
        button {
          background-color: #000;
          color: #fff;
          padding: 10px 20px;
          border-radius: 10px;
          &.affirm {
            background-color: #fff;
            color: #000;
            border: 2px solid #000;
          }
        }
      }
    }
  }
}
