@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Playfair+Display:ital,wght@0,400;1,700&display=swap");

body {
    background-color: #f6f6f6;
}

.dark body {
    background-color: #121212;
}

.blog-post p {
    margin-bottom: 1em;
    font-size: 18px;
}
.blog-post p,
.blog-post h1,
.blog-post h2,
.blog-post li {
    color: #121212;
}

.dark .blog-post p,
.dark .blog-post h1,
.dark .blog-post h2,
.dark .blog-post li {
    color: #fff;
}

.blog-post a {
    text-decoration: underline;
    color: rgb(42, 138, 255);
}

.blog-post ul {
    list-style-type: disc;
    margin-bottom: 1em;
}
.blog-post ul li {
    margin-left: 30px;
}

.blog-post h2 {
    font-size: 28px;
    font-weight: 700;
    margin: 2em 0 1em 0;
}
.blog-post code {
    background-color: #242632;
    width: fit-content;
    font-family: "IBM Plex Mono", monospace;
    border: 1px solid #4e4e4e;
    color: white;
}

.blog-post pre code {
    display: block;
    margin: 1em auto;
    border-radius: 10px;
    padding: 2em;
    max-width: 100%;
    overflow-x: scroll;
}
.blog-post blockquote blockquote {
    position: relative;
    background-color: rgb(60, 60, 60);
    padding: 1em 0.5em 1em 1em;
}
.blog-post blockquote blockquote p {
    margin-bottom: 0;
}
.blog-post blockquote blockquote::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 5px;
    left: 0;
    top: 0;
    background-color: rgb(86, 103, 126);
}
.blog-post blockquote p strong {
    background-color: rgba(251, 219, 130, 0.52);
    display: block;
    padding: 1.5em;
    position: relative;
    border-radius: 8px;
    font-weight: 400;
}
.blog-post blockquote p strong::before {
    content: "!";
    position: absolute;
    top: 2px;
    left: 2px;
    height: 1.5em;
    width: 1.5em;
    border-radius: 8px;
    background-color: rgb(255, 115, 0);
    display: grid;
    place-items: center;
    color: white;
}

.blog-post blockquote p em {
    background-color: rgba(207, 240, 255, 0.52);
    display: block;
    padding: 1.5em;
    position: relative;
    border-radius: 8px;
    font-weight: 400;
    font-style: normal;
}
.blog-post blockquote p em a {
    text-decoration: underline;
    color: rgb(255, 184, 41);
}

.blog-post blockquote p em::before {
    content: "i";
    position: absolute;
    top: 2px;
    left: 2px;
    height: 1.5em;
    width: 1.5em;
    border-radius: 8px;
    background-color: rgb(21, 46, 231);
    display: grid;
    place-items: center;
    font-style: normal;
    color: white;
}
.scrolling-logos {
    left: 0;
    animation-name: scroll;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
    overflow: hidden;
    overflow-y: hidden;
    white-space: nowrap;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background: #606060;
    outline: none;
    opacity: 1;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 1px solid #606060;
    cursor: pointer;
    border-radius: 999px;
}

input[type="range"]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #ffffff;
    cursor: pointer;
}

.blog-post img {
    margin: auto;
    width: 100%;
    max-width: 400px;
}
