*{
    --serif: 'DM Serif Display', serif;
    --poppins: 'Source Sans Pro', sans-serif;
    --accent: #fa3c7a;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
}
header{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.h-logo{
    width: 130px;
    fill: #fa3c7a;
    transition: 200ms;
    margin-left: 20px;
}
header > a:hover .h-logo{
    fill: #bd2d5d;
}
nav{
    display: flex;
}
nav ul{
    display: flex;
    list-style-type: none;
}
.n-l-holder{
    padding: 26px 20px;
    position: relative;
    display: flex;
    align-items: center;
}
.n-l-holder:hover{
    background-color: #fa3c7a;
}
.n-l-holder:hover .nav-link{
    color: white;
}
.n-l-holder:hover i{
    color: white;
    transform: rotate(180deg);
}
.nav-link{
    color: rgb(40, 40, 40);
    text-decoration: none;
    font-family: var(--poppins);
    transition: 200ms;
    font-weight: 500;
    z-index: 10;
}
.n-l-holder i{
    margin-left: 5px;
    font-size: 0.9rem;
    color: rgb(40, 40, 40);
    transition: 200ms;
}
.search{
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 30px;
    z-index: 10;
}
.search input{
    padding: 8px 30px 8px 8px;
    border-radius: 999px;
    border: 1px solid rgb(200,200,200);
    transition: 200ms;
    outline: none;
}
.search input:focus{
    outline: 3px solid var(--accent);
}
.search i{
    position: absolute;
    right: 8px;
    color: rgb(133, 133, 133);
}
.dropdown{
    position: relative;
    background-color: white;
}
.dropdown:hover .dropdown-menu{
    top:70px;
}
.dropdown-menu{
    position: absolute;
    top: -1000px;
    background-color: white;
    left: 0;
    transform: translateX(-25%);
    transition: 400ms;
    z-index: -1;
    border: 1px solid rgb(200,200,200);
    border-top: none;
    display: flex;
    width: fit-content;
}
.dropdown-column{
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-width: 200px;
    margin: 20px;
}
.dropdown-menu a{
    color: black;
    text-decoration: none;
    font-family: var(--serif);
    display: flex;
    align-items: center;
}
.color{
    width: 15px;
    height: 15px;
    border-radius: 20px;
    margin-right: 5px;
    border: 1px solid rgb(227, 227, 227);
}
.dropdown-menu p{
    font-family: var(--serif);
    color: rgb(80, 80, 80);
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
}
.dd-link{
    transition: 200ms;
    padding: 5px 0;
}
.dd-link:hover{
    color: #fa3c7a;
}

header span i{
    margin-right: 20px;
    cursor: pointer;
    padding: 10px 0;
}
header span i:hover{
    color: #fa3c7a;
    transition: 200ms;
}
.header-container{
    display: flex;
    align-items: center;
}


/*<----- MAIN CONTENT STYLING ----->*/
.sub-header{
    margin: 73px auto 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid rgb(227, 227, 227);
}
.sub-header-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;
    border-right: 2px solid rgb(227, 227, 227);
    font-family: var(--serif);
    width: 25%;
    cursor: pointer;
    transition: 200ms;
}
.sub-header-item:hover{
    background-color: #fa3c7a;
}
.border-left{
    border-left: 2px solid rgb(227, 227, 227);
}
.sub-header-item i{
    color: #fa3c7a;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.sub-header-item p{
    color: #fa3c7a;
    font-size: 1rem;
}
.sub-header-item:hover i{
    color: white;
}
.sub-header-item:hover p{
    color: white;
}


.hero-section{
    background-image: url(./bouquet.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.outer-border{
    background-color: rgba(255, 255, 255, 0.885);
    padding: 20px;
    width: fit-content;
    margin:20px;
}
.hero{
    background-color: rgba(255, 255, 255, 0);
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ad00bc;
}
.hero h2{
    font-size: 4rem;
    font-family: var(--poppins);
    text-transform: uppercase;
    font-style: italic;
    color: #ad00bc;
}
.hero p{
    font-size: 1.3rem;
    font-family: var(--serif);
    margin-bottom: 60px;
}
.hero-button{
    background-color: #ad00bc;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 40px;
    font-family: var(--poppins);
    transition: 200ms;
}
.hero-button:hover{
    background-color: #7c0087;
}


.category-buttons{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 30px 10px;
}
.category{
    margin: 10px;
    padding: 20px;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    cursor: pointer;
    transition: 200ms;
}
.category i{
    font-size: 4rem;
    margin: 10px 0;
    color: #fa3c7a;
}
.category p{
    font-size: 1.5rem;
    font-family: var(--serif);
    color: #fa3c7a;
    font-weight: 300;
}
.category:hover{
    background-color: #fa3c7a;
}
.category:hover i{
    color: white;
}
.category:hover p{
    color: white;
}


.promotion-section{
    background-image: url(./pexels-pixabay-235994.jpg);
    width: 90%;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.promotion-section h3{
    font-size: 3rem;
    font-family: var(--poppins);
    color: rgb(0, 46, 96);
    margin: 20px 0;
    font-style: italic;
}
.promotion-section p{
    font-size: 1.5rem;
    font-family: var(--serif);
}
.promotion-section a{
    padding: 10px 20px;
    background-color: #fa3c7a;
    color: white;
    font-family: var(--poppins);
    text-decoration: none;
    transition: 200ms;
    border-radius: 5px;
}
.promotion-section a:hover{
    background-color: #bd2d5d;
}
.sale-section{
    display: flex;
    margin-bottom: 100px;
}
.sale-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.sale-item img{
    width: 200px;
    transition: 600ms;
}
.sale-item p{
    font-size: 1rem;
    padding: 5px;
    text-align: center;
}
.sale-item span{
    display: flex;
}
.old-price{
    text-decoration: line-through;
    font-family: var(--poppins);
    margin-right: 10px;
}
.new-price{
    color: #fa3c7a;
}
.title{
    font-weight: 200;
}
.sale-item:hover img{
    width: 250px;
}

.spacer{
    height: 100vh;
}