$fancy-text: questa-grande, serif;
$clean-text: elza, sans-serif;
$accent: rgb(252, 46, 163);
$accent-dark: rgb(211, 38, 136);
.body{
    background-color: rgb(255, 255, 255);
    width: 100%;

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 10px;
        z-index: 10;
        border-bottom: 1px solid rgb(0, 0, 0);
        background-color: rgb(187, 206, 187);

        h1{
            color: rgb(40,40,40);
            font-family: $fancy-text;
            text-transform: uppercase;
            z-index: 10;

        }
        nav{
            display: flex;
            align-items: center;

            ul{
                list-style-type: none;
                display: flex;
                align-items: center;

                li{
                    a{
                        padding: 20px 20px;
                        color: rgb(40,40,40);
                        font-family: $fancy-text;
                        text-decoration: none;
                        text-transform: uppercase;
                        transition: 200ms;
                    }
                    i{
                        margin-left: 5px;
                        transition: 200ms;
                    }

                    svg{
                        height: 1rem;
                        fill: none;
                        stroke: black;
                        stroke-width: 6px;
                        transition: 200ms;
                        cursor: pointer;
                        padding: 10px;
                    }
                    svg:hover{
                        stroke: $accent;
                    }
                    
                }
                li:hover a{
                    color: $accent;
                }
            }

            .dropdown{
                position: relative;
                z-index: 5;

                .dropdownMenu{
                    display: none;
                    background-color: rgb(255, 255, 255);
                    border: 1px solid rgb(0, 0, 0);
                    height: fit-content;
                    min-width: 250px;
                    position: absolute;
                    top: 40px;
                    right: 0;
                    padding: 10px;
                    border-top: none;
                
                    .dropdownColumn{

                        ul{
                            display: flex;
                            flex-direction: column;
                            align-items: flex-end;

                            li{
                                margin: 10px 0;

                                a{
                                    color: rgb(0, 0, 0);
                                    padding: 10px 0;
                                }
                                a:hover{
                                    color: $accent;

                                }
                            }
                        }
                        
                    }
                }
            }
            .dropdown:hover, .dropdown:active{

                .dropdownMenu{
                    display: block;
                }
                i{
                    transform: rotate(180deg);
                }
            }
            
        }
    }

    .heroContainer{
        height: 90vh;
        display: flex;
        align-items: center;
        background-image: url(../public/template1/assets/flowerswhand.png);
        background-position: top right;
        background-repeat: no-repeat;
        width: 100%;
        position: relative;
        background-color: rgb(187, 206, 187);
        .hero{
            max-width: 500px;
            padding: 20px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            margin-left: 30px;
            height: fit-content;
            background-color: rgba(255, 255, 255, 0.891);

            h2{
                font-family: $fancy-text;
                font-size: 4rem;
            }

            p{
                font-size: 1.8rem;
                font-family: $clean-text;
                font-weight:3400;
                margin: 30px 0;
            }

            
        }
    }

    .bestSellers{
        margin: 50px;

        h2{
            text-align: center;
            color: $accent;
            font-family: $fancy-text;
            font-size: 3rem;
        }

        .flowerContainer{
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            

            a{
                text-decoration: none;
                color: rgb(40,40,40);

                .flowerItem{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: fit-content;
                    padding: 20px;
                    margin: 10px;
                    
                    img{
                        width: 200px;
                        transition: 300ms;

                    }

                    .itemInfo{
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        h4{
                            font-family: $fancy-text;
                            font-size: 1.3rem;
                        }

                        span{
                            display: flex;
                        }
                        .price,.regularPrice, .salePrice{
                            font-family: $clean-text;
                            font-size: 1.2rem;
                            margin: 10px;
                            font-weight: 400;
                        }

                        .regularPrice{
                            text-decoration: line-through;
                        }

                        .salePrice{
                            color: $accent;
                        }


                        

                        .buyNow{
                            font-size: 1.1rem;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    footer{
        background-color: rgb(255, 251, 234);
        padding: 20px;

        .footerContent{
            max-width: 1000px;
            margin: auto;

            .footerNav{
                width: fit-content;
                ul{
                    list-style-type: none;
                    border-right: 1px solid rgb(40,40,40);
                    padding: 20px;


                    li{
                        margin: 10px 0;

                        p{
                            text-decoration: none;
                            font-family: $clean-text;
                            color: rgb(40,40,40);
                            font-weight: 800;
                        }
                        a{
                            text-decoration: none;
                            font-family: $clean-text;
                            color: rgb(40,40,40);
                            transition: 200ms;
                        }
                        a:hover{
                            color: $accent;
                        }
                    }
                }
            }
        }
    }
}


.buyNow{
    background-color: $accent;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    font-family: $clean-text;
    text-decoration: none;
    transition: 200ms;
    font-size: 1.3rem;
}
.buyNow:hover{
    background-color: $accent-dark;
}



@media only screen and (max-width:750px) {

.body{

    header{

        nav{
            display: none;
        }
    }

    .heroContainer{
        background-size: 400px;

        .hero{
            width: 90%;
            margin: 0;

            h2{
                font-size: 2.3rem;
            }

            p{
                font-size: 1rem;
            }
        }
    }

    .bestSellers{

        .flowerContainer{

            a{

                .flowerItem{
                    flex-direction: row;
        
                    img{
                        width: 120px;
                    }
                
                    .itemInfo{
                        margin-left: 30px;

                        .buyNow{
                            min-width: 70px;
                        }
                    }
                }
            }
        }

        
    }
}
    
}