$fancy-text: questa-grande, serif;
$clean-text: elza, sans-serif;
$accent: rgb(252, 46, 163);
$accent-dark: rgb(211, 38, 136);

.body{
    position: absolute;
    width: 100%;
    header{
        display: flex;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        z-index: 10;
        border-bottom: 1px solid rgb(235, 235, 235);
        background-color: rgb(255, 255, 255);
        box-shadow: 0 3px 10px rgba(0,0,0,0.1);

        h1{
            color: rgb(40,40,40);
            font-family: $fancy-text;
            text-transform: uppercase;
            z-index: 10;
            font-size: 1.8rem;
            cursor: pointer;

        }
        nav{
            display: flex;
            align-items: center;

            ul{
                list-style-type: none;
                display: flex;
                align-items: center;

                li{
                    a{
                        padding: 10px 20px;
                        color: rgb(40,40,40);
                        font-family: $clean-text;
                        text-decoration: none;
                        transition: 200ms;
                        display: flex;
                        align-items: center;
                    }
                }
                li:hover a{
                    color: $accent;
                }
            }

            .dropdown{
                position: relative;
                z-index: 5;

                li{
                    a{
                        padding: 20px 20px;
                        color: rgb(40,40,40);
                        font-family: $clean-text;
                        text-decoration: none;
                        transition: 200ms;
                        display: flex;
                        align-items: center;
                    }
                    .dropdownArrow{
                        margin-left: 5px;
                        transition: 200ms;
                    }

                    .headerIcon{
                        padding: 22px;
                        font-size: 0.9rem;
                        transition: 200ms;
                    }
                    .headerIcon:hover{
                        color: $accent;
                    }

                    
                    
                }

                .profileMenu{
                    position: absolute;
                    top: 61px;
                    right: 0;
                    text-align: right;
                    background-color: white;
                    padding: 20px;
                    border: 1px solid rgb(0, 0, 0);
                    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
                    z-index: 5;
                    transition: 300ms;
                    min-width: 200px;
                    display: none;
                    height: fit-content;
                    border-top: none;
                    flex-direction: column;
                    font-family: $clean-text;

            
                    ul{
                        list-style: none;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
            
                        li{
                            a{
                                padding: 10px 0;
                                color: black;
                                font-family: $clean-text;
                                text-decoration: none;
                                font-weight: 500;
                                text-transform: none;
                            }
                            a:hover{
                                color: $accent;
                            }
                        }
                    }
                }

                .shoppingCart{
                    position: absolute;
                    top: 61px;
                    right: 0;
                    text-align: right;
                    background-color: white;
                    padding: 20px;
                    border: 1px solid rgb(0, 0, 0);
                    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
                    z-index: 5;
                    transition: 300ms;
                    min-width: 200px;
                    display: none;
                    height: fit-content;
                    border-top: none;
                    flex-direction: column;
                    font-family: $clean-text;
                }

                .dropdownMenu{
                    display: none;
                    background-color: rgb(255, 255, 255);
                    border: 1px solid rgb(0, 0, 0);
                    height: fit-content;
                    min-width: 250px;
                    position: absolute;
                    top: 63px;
                    right: 0;
                    padding: 10px;
                    border-top: none;
                
                    .dropdownColumn{

                        ul{
                            display: flex;
                            flex-direction: column;
                            align-items: flex-end;

                            li{

                                a{
                                    color: rgb(0, 0, 0);
                                    padding: 10px 0;
                                }
                                a:hover{
                                    color: $accent;

                                }
                            }
                        }
                        
                    }
                }
            }
            .dropdown:hover{

                .dropdownMenu{
                    display: block;
                }

                .profileMenu{
                    display: flex;
                }

                .shoppingCart{
                    display: flex;
                }
                
                li{
                    a{
                        .dropdownArrow{
                            transform: rotate(180deg);
                        }
                    }
                }
            }
            
        }
        .hamburger{
            display: none;
            width: 40px;
            height: 40px;
            align-items: center;
            justify-content: center;

            .patty{
                width: 30px;
                background-color: rgb(40,40,40);
                height: 2px;
                position: relative;
                transition: 200ms ease-in-out;
            }
            .pattyactive{
                background-color: transparent;
                height: 2px;
                position: relative;
                width: 30px;
                transition: 200ms ease-in-out;
            }
            .pattyactive::before, .pattyactive::after{
                content: '';
                height: inherit;
                width: inherit;
                position: absolute;
                background-color: rgb(40,40,40);
                transition: 200ms ease-in-out;

            }
            .pattyactive::before{
                transform: rotate(45deg);
            }
            .pattyactive::after{
                transform: rotate(-45deg);
            }
            .patty::before,.patty::after{
                content: '';
                height: inherit;
                width: inherit;
                position: absolute;
                transition: 200ms ease-in-out;
                background-color: rgb(40,40,40);
            }
            .patty::before{
                transform: translateY(7px);
            }
            .patty::after{
                transform: translateY(-7px);
            }
        }
    }

    .sideMenu{
        position: fixed;
        width: 250px;
        top: 60px;
        right: 0;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-color: white;
        height: 100%;
        padding: 20px;
        transition: 200ms;

        ul{
            list-style-type: none;
            text-align: right;

            li{
                margin: 20px 0;

                a{
                    color: black;
                    text-decoration: none;
                    font-family: $fancy-text;
                    font-size: 1.5rem;
                }
            }
        }
    }

    
    .heroContainer{
        height: 90vh;
        max-height: 700px;
        max-width: 1900px;
        margin: auto;
        display: flex;
        align-items: center;
        background-image: url(../public/template1/assets/flowerswhand.png);
        background-position: center right;
        background-repeat: no-repeat;
        position: relative;

        .hero{
            max-width: 500px;
            padding: 20px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            margin-left: 30px;
            height: fit-content;
            background-color: rgba(255, 255, 255, 0.891);

            h2{
                font-family: $fancy-text;
                font-size: 4rem;
            }

            p{
                font-size: 1.8rem;
                font-family: $clean-text;
                font-weight:3400;
                margin: 30px 0;
            }

            a{
                background-color: $accent;
                color: white;
                font-family: $clean-text;
                padding: 10px 20px;
                text-decoration: none;
                font-size: 1.3rem;
                border-radius: 7px;
                transition: 200ms;
            }
            a:hover{
                background-color: $accent-dark;
            }
            
        }
    }

    .bestSellers{
        margin: 50px 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2{
            text-align: center;
            color: $accent;
            font-family: $fancy-text;
            font-size: 3rem;
        }

        .flowerContainer{
            padding: 20px;
            display: grid;
            margin: auto;
            grid-template-columns: repeat(4, 200px);
            grid-column-gap: 30px;
            grid-row-gap: 30px;

            @media only screen and (max-width:975px){
                grid-template-columns: repeat(2, 300px);
            }
                .flowerItem{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    width: 100%;
                    padding: 10px;
                    border: 1px solid rgb(230,230,230);
                    border-radius: 5px;
                    box-shadow: 0px 3px 5px rgba(0,0,0,0.05);
                    position: relative;

                    .itemInfo{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-bottom: 40px;

                        h4{
                            font-family: $fancy-text;
                            font-size: 1.3rem;
                            text-align: center;
                        }

                        span{
                            display: flex;
                        }
                        .price,.regularPrice, .salePrice{
                            font-family: $clean-text;
                            font-size: 1.2rem;
                            margin: 10px;
                            font-weight: 400;
                        }

                        .regularPrice{
                            text-decoration: line-through;
                        }

                        .salePrice{
                            color: $accent;
                        }


                        

                        .buyNow{
                            font-size: 1.1rem;
                            color: #fff;
                            position: absolute;
                            bottom: 10px;
                        }
                    }
                }
        }
    }

    .categoryHolder{

        h2{
            text-align: center;
            color: $accent;
            font-family: $fancy-text;
            font-size: 3rem;
        }
        .flowerContainer{
            margin: 30px auto;
            width: fit-content;
            display: grid;
            grid-template-columns: repeat(4, 200px);
            grid-column-gap: 30px;
            grid-row-gap: 30px;

            @media only screen and (max-width:975px){
                grid-template-columns: repeat(2, 200px);
            }

            .category{
                width: 200px;
                height: 200px;
                background-color: rgb(255, 255, 255);
                border: 1px solid rgb(235, 235, 235);
                border-radius: 5px;
                box-shadow:0 3px 10px rgba(0,0,0,0.05);
                display: flex;
                flex-direction: column;
                position: relative;
                
                .categoryIcon{
                    font-size: 4rem;
                    color: $accent;
                    margin-top: 30px;
                }
                .buyNow{
                    position: absolute;
                    font-size: 1rem;
                    bottom: 10px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: fit-content;
                    background-color: #fff;
                    color: $accent;
                    border: 2px solid $accent;
                }
                .buyNow:hover{
                    background-color: $accent;
                    color: #fff;
                }
            }
        }
    }

    footer{
        background-color: rgb(255, 251, 234);
        padding: 20px;

        .footerContent{
            width: fit-content;
            margin: auto;
            display: flex;
            height: 100%;

            .footerNav{
                width: fit-content;
                max-width: 250px;
                padding-right: 50px;
                height: 100%;
                ul{
                    list-style-type: none;
                    padding: 20px;


                    li{
                        margin: 10px 0;

                        p{
                            text-decoration: none;
                            font-family: $clean-text;
                            color: rgb(40,40,40);
                            font-weight: 800;
                        }
                        a{
                            text-decoration: none;
                            font-family: $clean-text;
                            color: rgb(40,40,40);
                            transition: 200ms;
                        }
                        a:hover{
                            color: $accent;
                        }
                    }
                }
            }

            iframe{
                width: 300px;
                height: 300px;
                outline: none;
                border: none;
            }
        }
    }
}


.buyNow{
    background-color: $accent;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    font-family: $clean-text;
    text-decoration: none;
    transition: 200ms;
    font-size: 1.3rem;
    cursor: pointer;
}
.buyNow:hover{
    background-color: $accent-dark;
}



@media only screen and (max-width:750px) {

.body{

    header{
        padding: 10px;
        nav{
            display: none;
        }
        .hamburger{
            display: flex;
        }
    }

    .heroContainer{
        background-size: 400px;
        background-position: bottom right;
        align-items: flex-start;
        padding-top: 75px;
        max-height: 500px;

        .hero{
            width: 70%;
            margin: auto;

            h2{
                font-size: 2.3rem;
            }

            p{
                font-size: 1rem;
            }

            .buyNow{
                font-size: 1rem;
            }
        }
    }

    .bestSellers{

        h2{
            font-size: 2.5rem;
        }

        .flowerContainer{
            margin: none;
            grid-template-columns: 300px;
            
            .flowerItem{
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 100%;
    
                img{
                    width: 120px;
                }
            
                .itemInfo{
                    margin-left: 30px;

                    .price{
                        font-size: 0.9rem;
                    }

                    .buyNow{
                        font-size: 0.8rem;
                        min-width: 50px;
                    }
                }
            }
            
        }

        
    }

    .categoryHolder{
        .flowerContainer{
            grid-template-columns: 200px;
        }
    }

    footer{
        .footerContent{
        flex-direction: column;
        }
    }
}
    
}