$fancy-text: questa-grande, serif;
$clean-text: elza, sans-serif;
$accent: rgb(252, 46, 163);
$accent-dark: rgb(211, 38, 136);

.storeContainer{
    
    .pageHeader{
        padding: 20px;
        margin: 20px;
        border-bottom: 1px solid gray;
        h1{
            margin-top: 50px;
            font-family: $clean-text;
        }
    }
    .storeContent{
        display: flex;

        
    }
}